
{% extends "base.html" %}

{% block title %}Inventario{% endblock %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >

<h1> Auditoria </h1>

<h2>Historial de movimientos inventario</h2>

<table class="table table-sm table-striped">
  <thead>
    <tr>
      <th>Fecha</th><th>Pieza</th><th>Acción</th><th>Usuario</th><th>Observación</th>
    </tr>
  </thead>
  <tbody>
    {% for mov in historial %}
      <tr>
        <td>{{ mov.fecha|date:"Y-m-d H:i" }}</td>
        <td>{{ mov.pieza.nombre }}</td>
        <td>{{ mov.get_accion_display }}</td>
        <td>{{ mov.usuario.username }}</td>
        <td>{{ mov.observacion }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
